{% extends "base_generic.html" %}

{% block content %}
<div class="jumbotron text-center" style="margin-bottom:0"> 
  <h1>Yeast Catalog Home</h1>
    <p>Welcome to my <em>Yeast Catalog</em>. This site is where I manage the yeast strains I use for home brewing.</p>
</div>

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <div class="zoom">
      {% load static %}
        <a href="{% url 'yeasts' %}"><img src="{% static "Microscope.svg" %}" class="img-round mx-auto d-block" height="200" width="200"></a>
      </div>
      <h2 class="text-center"><u><a href="{% url 'yeasts' %}" style="color:black">Yeast</a></u></h2>
        <p class="text-center">Browse yeast strains</p>
      </div>

    <div class="col-sm-4">
      <div class="zoom">
        <a href="{% url 'storage' %}"><img src="{% static "Vial.svg" %}" class="img-round mx-auto d-block" height="200" width="200"></a>
      </div>
      <h2 class="text-center"><u><a href="{% url 'storage' %}" style="color:black">Storage</a></u></h2>
        <p class="text-center">View storage instances</p>
    </div>

    <div class="col-sm-4">
      <div class="zoom">
        <a href="{% url 'media'%}"><img src="{% static "Flask.svg" %}" class="img-round mx-auto d-block" height="200" width="200"></a>
      </div>
      <h2 class="text-center"><u><a href="{% url 'media'%}" style="color:black">Media</a></u></h2>
        <p class="text-center">View media batches</p>
    </div>
  </div>
</div>

<a href="{% url 'test-document' %}">Tester</a>
{% endblock %}