.btn { margin: 5px 5px 5px 5px }

body { 
    padding-top: 50px; 
}

img {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.zoom {
    transition: transform 0.2s;
    opacity: 0.6;
}

.zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    opacity: 0.8; 
}