{% extends "base_list.html" %}
{% block list %}
<p>Things to do...</p>
<ul>
    <li>Complete writing tests...are they ever complete?</li>
    <li>Include option to select parent for inoculated storage (needs some form validation to prevent a storage instance selecting itself as a parent)</li>
    <li>Model pop-up for creating media and yeast from storage instance - see Django admin for examples</li>
    <li>Family tree - passing nodes to JavaScript library to render family tree for each storage instance</li>
    <li>Include yeast maintenance section - flag old inoculated storage instances and yeasts that are down to <=2 inoculated storage instances</li>
    <li>Update landing page</li>
</ul>
{% endblock %}